.outer-box {
    border: solid 1px black;
    margin-bottom: 0.5%;
    padding: 1%;
}

#overview {
    display: grid;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 0rem 0.5rem;
    text-align: center;
}

#overview-header {
    grid-row: 1;
    grid-column: 1 / span 2;
}

#picture-of-oskar {
    width: 50%;
    grid-row: 2;
    grid-column: 1 / 2;
}

#overview-links {
    grid-row: 2;
    grid-column: 2 / 3;
}

#projects {
    display: grid;
    grid-template-rows: 0.25fr 0.75fr;
    grid-template-columns: 1fr;
}

#projects-header {
    grid-row: 1;
    grid-column: 1 / span 3;
    text-align: center;
}

#flex-wrapper {
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.project {
    flex: 1 0 30%;
    text-align: center;
    border: solid 1px black;
    margin: 0.25em;
    height: 150px;
}

@media (max-width: 600px) {
    .project{
        flex: 1 0 40%;
    }
}

#work-experience {
    text-align: center;
}

.job {
    border: solid 1px black;
    margin-bottom: 1%;
}